DB_USER='YOUR DATABASE USER'
DB_NAME='YOUR DATABASE NAME'
DB_PASSWORD='YOUR DATABASE PASSWORD'

DATABASE_URL="DB_ENGINE://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME?schema=public"

AUTH_SECRET='YOUR SECRET KEY'
